body {
    background: rgb(172, 230, 255);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;

}

.card {
    background: #f8f8f8;
    border-radius: 16px;
    padding: 32px;
}

.card__description {
    line-height: 1.375;
    margin: 0;
}

.card__link {
    text-decoration: none;
}

.card__name {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.card__position {
    font-style: italic;
    font-size: 18px;
    margin: 0;
    color: #545454;
}